.dialogs {
    display: flex;
    width: 100%;
}

.dialogsItem {
    margin-right: 50px;
    padding: 10px;
    font-size: 18px;
    line-height: 3;
}

.messages {
    width: 500px;
}

.dialogTextArea {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field {
    width: 400px;
    height: 70px;
}

.buttonForm {
    width: 150px;
    height: 30px;
}

