.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 10px;
    font-family: serif;
}
.dialog {

}
.active {
    color: gold;

}
.messages {
    padding: 10px;

}
.message {

}